body{
  font-family: Roboto;
}

#nav{
  border-left: 3px solid var(--yellow);
  border-right: 3px solid var(--yellow);
  border-bottom: 3px solid var(--yellow);
  border-radius: 0 0 15px 15px;
  width: 201px;
  height: 50px;
  margin-left: calc(50vw - 100px);
  background-color: var(--background_secondary);
}

#nav a img{
  height: 40px;
  width: auto;
  margin-top: 5px;
}

#nav_mid{
  margin-right: 20px;
  margin-left: 20px;
}

#nav_left{
  padding-left: 20px;
}

#nav_right{
  padding-right: 20px;
}

.corner_button{
  background-color: var(--background_secondary);
  width: 50px;
  height: 50px;
  position: absolute;
}

#account_button{
  border-right: 3px solid var(--yellow);
  border-bottom: 3px solid var(--yellow);
  border-radius: 0 0 15px 0;
  top: 0px;
  left: 0px;
}

#theme_button{
  border-left: 3px solid var(--yellow);
  border-bottom: 3px solid var(--yellow);
  border-radius: 0 0 0 15px;
  top: 0px;
  right: 0px;
}

#new_task_button{
  border-left: 3px solid var(--yellow);
  border-top: 3px solid var(--yellow);
  border-radius: 15px 0 0 0;
  bottom: 0px;
  right: 0px;
}

.corner_button a img{
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;
  width: auto;
}

/*SELECT */

.bubble{
  background-color: var(--background_primary);
  border: 3px solid var(--yellow);
  border-radius: 15px;
  width: 400px;
  height: 76vh;
  margin-top: 6vh;
  margin-left: 5vw;
}

.list{
  height: calc(100% - 20px);
  margin-top: 10px;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 8px; /* šířka scrollbar tracku */
}

.list::-webkit-scrollbar-track {
  background: var(--background_primary); /* barva pozadí */
  border-radius: 15px;
}

.list::-webkit-scrollbar-thumb {
  background: var(--background_secondary); /* barva thumbu (toho, co se hýbe) */
  border-radius: 15px 0 0 15px;
  border: 1px solid var(--yellow);
  border-right: none;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555; /* barva při hoveru */
}

.list List{
  height: auto;
  width: 100%;
  max-width: 400px;
}

.list h3{
  margin-left: 16px;
}

.my-subheader.MuiListSubheader-root {
  background-color: var(--background_primary);
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 1rem;
}

#home_body{
  display: flex;
}

#task_detail{
  padding-left: 16px;

}


