:root{
  --background_primary: #323437;
  --background_secondary: #2C2E31;
  --yellow: #E2B714;
  --text_color: #FFFFFF;
  --text_label: #c2c2c2;
  --text_green: #7af67a;
  --text_red: #ff3535;
}

[theme='light']{
  --background_primary: #FFFFD4;
  --background_secondary: #ffffc0;
  --text_color: #3a3a3a;
  --text_label: #707070;
  --text_green: #219321;
  --text_red: #ca0000;
  --yellow: #E2B714;

}

[theme='dark']{
  --background_primary: #323437;
  --background_secondary: #2C2E31;
  --text_color: #FFFFFF;
  --text_label: #c2c2c2;
  --text_green: #7af67a;
  --text_red: #ff3535;
  --yellow: #E2B714;
}

body {
  color: var(--text_color);
  background-color: var(--background_primary);
  margin: 0;
}

